@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.modalContent {
  min-height: 25rem;
  max-width: 40rem;
  padding: 2rem;
  font-size: $normal-font-size;
  text-align: center;
}

.productLabel {
  margin-top: 0.8rem;
  margin-right: 1rem;
  width: 13rem;
  text-align: end;
}

.productInput {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      max-width: 20rem;
    }
  }
}

.inputCard input {
  max-width: 20rem;
}

.inputCard {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
    }
  }
}

.modalFooter {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: $normal-font-size;
  text-align: center;
  background-color: white;
  opacity: 1;
  position: sticky;
  bottom: 0;

  :global {
    .p-button {
      font-size: $normal-font-size;
    }

    .p-button:last-child {
      margin-left: 1.2rem;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .productInput {
    :global {
      .p-inputtext {
        font-size: $normal-font-size;
        max-width: 16rem;
      }
    }
  }

  .inputCard input {
    max-width: 16rem;
  }
}
