@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.modalContent {
  min-height: 20rem;
  max-width: 40rem;
  padding: 2rem;
  font-size: $normal-font-size;
  text-align: center;
}

.productLabel {
  margin-top: 0.8rem;
  margin-right: 1rem;
  width: 13rem;
  text-align: end;
}

.productInput {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      max-width: 20rem;
    }
  }
}

.quantityInput {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      text-align: center;
      max-width: 13.4rem;
    }
  }
}

.inputCard {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
    }
  }
}

.inputCard input {
  max-width: 20rem;
}

.modalFooter {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: $normal-font-size;
  text-align: center;

  :global {
    .p-button {
      font-size: $normal-font-size;
    }

    .p-button:last-child {
      margin-left: 1.2rem;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .productInput {
    :global {
      .p-inputtext {
        font-size: $normal-font-size;
        max-width: 16rem;
      }
    }
  }

  .inputCard input {
    max-width: 16rem;
  }

  .quantityInput {
    :global {
      .p-inputtext {
        width: 10rem;
      }
    }
  }
}
