@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.modalContent {
  min-height: 20rem;
  padding: 2rem;
  font-size: $normal-font-size;
  text-align: center;
}

.subtractStockQuantity {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      text-align: center;
      width: 15rem;
    }
  }
}

.modalFooter {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: $normal-font-size;
  text-align: center;
  background-color: white;
  opacity: 1;
  position: sticky;
  bottom: 0;

  :global {
    .p-button {
      font-size: $normal-font-size;
    }

    .p-button:last-child {
      margin-left: 1.2rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .newQuantity {
    margin-left: 3rem;
  }
}
