@import "../../styles/variables.scss";

.modalContent {
  height: 17rem;
  padding: 2rem;
  font-size: $normal-font-size;
  text-align: center;
}

.subtractStockQuantity {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      text-align: center;
      width: 15rem;
    }
  }
}

.newQuantity {
  margin-top: 0.9rem;
  width: 5rem;
}

.modalFooter {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-size: $normal-font-size;
  text-align: center;

  :global {
    .p-button {
      font-size: $normal-font-size;
    }

    .p-button:last-child {
      margin-left: 1.2rem;
    }
  }
}
