.modalTitle {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: inherit;
}
