@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.modalContent {
  min-height: 25rem;
  padding: 2rem;
  font-size: $normal-font-size;
  text-align: center;
}

.addStockQuantity {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      text-align: center;
      width: 15rem;
    }
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.priceLabel {
  margin: 0 1rem;
}

.priceInput {
  :global {
    .p-inputtext {
      font-size: $normal-font-size;
      // max-width: 68%;
    }
  }
}

.modalFooter {
  border-top: 1px solid lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: $normal-font-size;
  text-align: center;
  background-color: white;
  opacity: 1;
  position: sticky;
  bottom: 0;

  :global {
    .p-button {
      font-size: $normal-font-size;
    }

    .p-button:last-child {
      margin-left: 1.2rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .newQuantity {
    margin-left: 3rem;
  }
}

@media (max-width: 530px) {
  .priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .priceInput {
    :global {
      .p-inputtext {
        max-width: 100%;
      }
    }
  }
}
